<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>MANAGE | DEALS</title>
<script src="/plugins/jquery-2.1.1/jquery.min.js"></script>
<script src="/plugins/bootstrap-3.3.5/js/bootstrap.min.js"></script>
<script src="/plugins/angular-1.4.9/angular.min.js"></script>
<link href="/plugins/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" />
<link href="/plugins/bootstrap-3.3.5/css/bootstrap-theme.css" rel="stylesheet" />
<link href="/plugins/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/css/sidebarPrev.css">
</head>
<body ng-app="typesApp" ng-controller="typesController" class="ly-bg">
	<div id="cl-wrapper" class="animate-collapse">

		<div id="pcont" class="cl-main">
			<div class="main">
				<div class="container-row" style="width:80%">
					<div class="padding-ex">
						<ul class="breadcrumb">
							<li><a href="/UserCenter">影片管理</a></li>
							<li class="active">影片</li>
						</ul>
						<div class="row-fluid">
							<div class="span12">
								<div class="block-flat">
									<div>
										<div class="input-group has-success">
											<input type="text" class="form-control" placeholder="Search for...">
											<span class="input-group-btn">
												<button class="btn btn-success" type="button">
												<i class="fa fa-search" aria-hidden="true"></i>
												搜索
												</button>
											</span>
									    </div>
										<table class="table table-hover">
											<tr class="warning">
												<td style="width:10%">编号</td>
												<td style="width:30%" >类型</td>
												<td>名称</td>
												<td style="width:10%">评分</td>
												<td style="width:20%">操作</td>
											</tr>
											<tr ng-repeat="movie in movies">
												<td>{{movie.id}}</td>
												<td>{{movie.type}}</td>
												<td>
													<a href="">{{movie.name}}</a>
												</td>
												<td>{{movie.score}}</td>
												<td>
													<a role="button" class="btn btn-default btn-xs" href="">编辑</a>
													&nbsp;&nbsp;&nbsp;
													<a role="button" class="btn btn-danger btn-xs" href="">删除</a>
												</td>
											</tr>
										</table>
										<nav class="text-right" >
											<ul class="pagination">
												<li id="previouseLi" class="previous">
													<a href="" aria-label="Previous">
														<span aria-hidden="true">上一页</span>
													</a>
												</li>
												<li id="page{{num}}" ng-repeat="num in pageList" >
													<a href="" ng-click="thisPage(num)"><span>{{num}}</span></a>
												</li>
												<li id="nextLi" class="next">
													<a href="" aria-label="Next">
														<span id="nextPageBtn" aria-hidden="true" ng-click="nextPage()">下一页</span>
													</a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	$(document).ready(function(){
		$("#previouseLi").addClass("disabled");
	});
	
	var typesApp = angular.module("typesApp",[]);
	typesApp.controller("typesController",function($scope,$http){
		$scope.currentPage = 0;
		$scope.moviesCount = 0;
		$scope.movies;
		$scope.pageList = new Array();
		$scope.totalPageNum;
		
		$scope.page = {
				start : 0,
				length : 20,
				flag : 1
		};
		
		$scope.finish = function(){
			$("#previouseLi").addClass("disabled");
		};
		
		$scope.pageAcitive = function(pageNum){
			$scope.currentPage = pageNum;
			for(var i=0;i<$scope.pageList.length;i++){
				if($scope.pageList[i] == $scope.currentPage){
					$("#page"+$scope.currentPage).addClass("active");
				}else{
					$("#page"+$scope.pageList[i]).removeClass("active");
				}
			}
		};
		
		$scope.nextPage = function(){
			$scope.page.start = ($scope.currentPage) * $scope.page.length;
			var url = "/admin/movies?flag="+$scope.page.flag+"&start="+$scope.page.start+"&length="+$scope.page.length;
			$scope.currentPage ++;
			$http({
				url : url,
				method : "GET",
				headers :{
					'Content-Type':'application/x-www-form-urlencoded'
				}
				
			}).success(function(data){
				$scope.movies = data;
				// 当查询到的数量小于每页最大数时，禁用下一页按钮
				// While the munber of queried movies is smaller than $scope.page.length,
				// then disable the next page button.
				$("#previousLi").removeClass("disabled");
				if(data.length < $scope.page.length){
					$("#nextPageBtn").addClass("disabled");
				}else{
					$("#nextPageBtn").removeClass("disabled");
				}
				
				// 初始化分页按钮
				// Initialize the pagination button.
				console.log($scope.pageList);
				var length = $scope.currentPage + 10;
				if(length > $scope.totalPageNum) length = $scope.totalPageNum;
				$scope.pageList = new Array();
				for(var i=$scope.currentPage;i<length;i++){
					$scope.pageList.push(i);
				}
				
			});
		};
		
		$scope.thisPage = function(pageNum){
			$scope.pageAcitive(pageNum);
			$scope.page.start = (pageNum-1) * $scope.page.length;
			var url = "/admin/movies?flag="+$scope.page.flag+"&start="+$scope.page.start+"&length="+$scope.page.length;
			
			$http({
				url : url,
				method : "GET",
				headers :{
					'Content-Type':'application/x-www-form-urlencoded'
				}
				
			}).success(function(data){
				$scope.movies = data;
			});
		};
		
		$scope.getMovies = function(){
			$("#previousLi").addClass("disabled");
			$http({
				url : "/admin/movies_count",
				method : "GET"
			}).success(function(count){
				var pages = count / $scope.page.length;
				
				$scope.totalPageNum = pages>parseInt(pages) ? parseInt(pages)+1 : pages;
				
			});
			
			$scope.nextPage();
		};
		
		$scope.getMovies();
	});
	
	</script>
</body>

</html>
